

.section_margin
{

  margin-bottom: 30px;
}


.alith_news_img {
    overflow: hidden;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.animated-fast {
    animation-duration: .5s;
    animation-fill-mode: both;
  }

  figure {
    margin-bottom: 15px;
    max-width: 100%;
    position: relative;
}

.artpic
{
  margin: auto;
  width: 300px;
  height: 300px;
}

.single_header
{
  border-bottom: 1px solid;
margin: 0 0 30px;
padding: 0 0 20px;
}

.alith_post_title {
  font-size: 36px;
text-align: center;
font-family: 'Playfair Display', serif;

}

.column-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    text-align: justify;
}

.maintext:first-child::first-letter
{
  display: block;
float: left;
font-size: 5em;
font-weight: 700;
line-height: 1;
margin: 5px 18px 10px 0;
font-family: 'Playfair Display', serif;
}
